.feature-section {
  .section-text {
    &__left {
      margin-bottom: 100px;

      h4 {
        margin-bottom: 8px;
        transform: translateY(0);
        opacity: 1;
      }

      p {
        margin-bottom: 32px;
      }

      .feature-wrapper {
        margin-bottom: 10px;
        width: 290px;
        position: relative;

        @include tablet-sm {
          width: 320px;
        }

        @include tablet {
          width: 416px;
        }

        &:last-child {
          margin-bottom: 0;
        }

        .feature {
          width: 100%;
          border-bottom: 1px solid $primary-color;
          margin-bottom: 24px;
          transform: translateX(-100%);
          opacity: 0;
        }

        &:before {
          content: '';
          position: absolute;
          top: 0%;
          left: -100%;
          width: 100%;
          height: 100%;
          z-index: 10;
          background-color: white;
        }
      }
    }

    &__right {
      @include flex-col-center;

      @include tablet-sm {
        padding-top: 48px;
        align-self: flex-start;
      }

      h2 {
        margin-bottom: 2rem;
      }
    }
  }
}
