.header {
  background-color: white;
  height: 70px;
  position: sticky;
  top: 0;
  z-index: 300;

  @include tablet {
    height: 7836px;
  }

  @include desktop {
    height: 120px;
  }

  .header-inner {
    height: 100%;
    @include flex-row-space-between;

    // hamburger
    .hamburger {
      width: 30px;
      height: 30px;
      position: relative;
      @include flex-col-center;

      @include tablet {
        width: 32.5px;
        height: 32.5px;
      }

      @include desktop {
        width: 35px;
        height: 35px;
      }

      &:hover {
        cursor: pointer;
      }

      .bar {
        width: 17px;
        height: 1px;
        background-color: $primary-color;

        @include tablet {
          width: 23px;
        }

        @include desktop {
          width: 29px;
          height: 2px;
        }
      }

      .bar-bottom {
        margin-top: 5px;
      }
    }

    // logo
    .logo {
      width: 30px;
      height: 30px;

      @include tablet {
        width: 37px;
        height: 32px;
      }

      @include desktop {
        width: 50.51px;
        height: 35.98px;
      }

      &:hover {
        cursor: pointer;
      }

      a {
        text-decoration: none;
        line-height: 30px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    // call to action
    .join-btn {
      background-color: $primary-color;
      color: white;
      border: none;
      width: 60px;
      height: 30px;
      padding: 3px;
      border-radius: 20px;
      font-size: 0.5rem;
      transition: opacity 0.05s ease-in-out;

      &:hover {
        cursor: pointer;
        opacity: 0.85;
      }

      @include tablet {
        width: 96px;
        height: 35px;
        padding: 6.5px;
        font-size: 0.75rem;
      }

      @include desktop {
        width: 104px;
        height: 40px;
        padding: 10px;
        font-size: 1rem;
      }
    }
  }
}
