.hero-section {
  .hero-text {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left {
      flex: 1.7;
    }

    &__right {
      flex: 1;
    }
  }

  .hero-img {
    width: 100%;
    height: 710px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
