.hero-section {
  .hero-text {
    text-align: center;

    @include flex-col-center;
    margin-bottom: 20px;

    @include tablet-sm {
      flex-direction: row;
      margin-bottom: 50px;
      text-align: start;
    }

    @include desktop {
      margin-bottom: 80px;
    }

    &__left {
      margin-bottom: 15px;

      @include tablet-sm {
        flex: 1.7;
        margin-bottom: 0;
      }
    }

    &__right {
      @include tablet-sm {
        flex: 1;
      }
    }
  }

  .hero-img {
    width: 100%;
    // height: clamp(225px, 80vh, 710px);
    height: clamp(225px, 50vh, 710px);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
