.main-section {
  .main-text {
    text-align: center;
    @include flex-col-center;
    margin-bottom: 20px;

    @include tablet-sm {
      flex-direction: row;
      margin-bottom: 50px;
      text-align: start;
    }

    @include desktop {
      margin-bottom: 161px;
    }

    &__left {
      margin-bottom: 15px;

      @include tablet-sm {
        flex: 1;
      }
    }

    &__right {
      @include tablet-sm {
        flex: 1;
      }
    }
  }

  .main-carosoul {
    height: clamp(225px, 43vh, 640px);
    position: relative;

    .arrows {
      width: 100%;
      @include flex-row-space-between;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 0 1rem;

      .arrow {
        height: 30px;

        @include tablet-sm {
          height: 40px;
        }

        @include tablet {
          height: 50px;
          padding: 0 2rem;
        }

        @include desktop {
          height: 56px;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    .imgs {
      display: flex;
      overflow-x: hidden;
      height: 100%;

      img {
        object-fit: contain;
      }
    }
  }

  .carosoul-bar {
    width: 90%;
    height: 1px;
    background-color: #7c7c7c;
    opacity: 0.5;
    margin: 0 auto;
    margin-top: 44px;
    position: relative;

    @include tablet {
      width: 100%;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 300px;
      height: 1px;
      background-color: #000000;
    }
  }
}
