.nav {
  font-family: 'MonotypeXLight';
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 50vh;
  min-height: 350px;
  z-index: 200;
  background-color: $primary-color;
  color: white;

  @include desktop {
    min-height: 400px;
  }

  ul {
    list-style-type: none;
    padding-top: 1.3rem;

    li {
      font-size: 1rem;
      line-height: 2.23rem;

      @include tablet {
        font-size: 1.4rem;
        line-height: 3.2rem;
      }
    }

    a {
      color: white;
      text-decoration: none;
      position: relative;

      &:hover {
        border-bottom: 1px solid white;
      }
    }
  }
}
