* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  min-width: 320px;
}

// Fonts
@font-face {
  font-family: MonotypeBold;
  src: url('../assets/font/Monotype\ -\ Helvetica\ Now\ Display\ Bold.otf') format('opentype');
}

@font-face {
  font-family: MonotypeMedium;
  src: url('../assets/font/Monotype\ -\ Helvetica\ Now\ Display\ Medium.otf') format('opentype');
}

@font-face {
  font-family: MonotypeXLight;
  src: url('../assets/font/Monotype\ -\ Helvetica\ Now\ Display\ XLight.otf') format('opentype');
}

// Typography
h1,
h2 {
  font-family: 'MonotypeBold';
}

h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;

  @include tablet {
    font-size: 3.4rem;
    line-height: 3rem;
  }

  @include desktop {
    font-size: 5rem; // 90px
    line-height: 4rem; //73px;
  }
}

h2 {
  font-size: 2.5rem;
  line-height: 2.5rem;

  @include tablet {
    font-size: 3.5rem;
    line-height: 3rem;
  }

  @include desktop {
    font-size: 4rem; // 72px
    line-height: 4rem; //73px;
  }
}

h4 {
  font-family: 'MonotypeMedium';
  font-size: 0.9rem;
  line-height: 1.3rem;

  @include tablet-sm {
    font-size: 1.3rem;
    line-height: 1.7rem;
  }

  @include tablet {
    font-size: 1rem;
    line-height: 1.3rem;
  }

  @include desktop {
    font-size: 1.33rem; // 24px
    line-height: 1.96rem; // 35.28px;;
  }
}

p {
  font-family: 'MonotypeXLight';
  font-size: 0.7rem;
  line-height: 1.15rem;

  @include tablet-sm {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }

  @include desktop {
    font-size: 1rem; // 18px
    line-height: 1.59rem; // 28.62px
  }
}

// Paddings
.section-padding {
  padding: 50px 0;

  @include tablet-sm {
    padding: 70px 0;
  }

  @include desktop {
    padding: 100px 0;
  }
}

// Page conatiner & padding
.page-container {
  width: 92%;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;

  @include tablet-sm {
    width: 89%;
  }

  @include tablet {
    width: 87%;
  }

  @include desktop {
    max-width: 1200px;
  }
}

// Section text
.section-text {
  @include flex-col-center;
  margin-bottom: 100px;
  text-align: center;
  position: relative;

  @include tablet {
    flex-direction: row;
    align-items: center;
    text-align: start;
  }

  @include desktop {
    margin-bottom: 100px;
  }

  // For text fade up animation
  h1,
  h4,
  h2 {
    transform: translateY(100%);
    opacity: 0;
  }

  &__left {
    margin-bottom: 40px;

    @include tablet {
      flex: 1;
      margin-bottom: 0;
    }
  }

  &__right {
    @include tablet {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
