* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  min-width: 320px;
}

// Fonts
@font-face {
  font-family: MonotypeBold;
  src: url('../assets/font/Monotype\ -\ Helvetica\ Now\ Display\ Bold.otf') format('opentype');
}

@font-face {
  font-family: MonotypeMedium;
  src: url('../assets/font/Monotype\ -\ Helvetica\ Now\ Display\ Medium.otf') format('opentype');
}

@font-face {
  font-family: MonotypeXLight;
  src: url('../assets/font/Monotype\ -\ Helvetica\ Now\ Display\ XLight.otf') format('opentype');
}

// Typography
h1,
h2 {
  font-family: 'MonotypeBold';
}

h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin-bottom: 2rem;

  @include tablet-sm {
    margin-bottom: 0;
  }

  @include tablet {
    font-size: 3.5rem;
    line-height: 3rem;
  }

  @include desktop {
    font-size: 5rem; // 90px
    line-height: 4rem; //73px;
  }
}

h2 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin-bottom: 2rem;

  @include tablet-sm {
    margin-bottom: 0;
  }

  @include tablet {
    font-size: 3.5rem;
    line-height: 3rem;
  }

  @include desktop {
    font-size: 4rem; // 72px
    line-height: 4rem; //73px;
  }
}

h4 {
  font-family: 'MonotypeMedium';
  font-size: 1rem;
  line-height: 1.3rem;

  @include tablet-sm {
    font-size: 0.8rem;
    line-height: 1.15rem;
  }

  @include tablet {
    font-size: 1.3rem;
    line-height: 1.5rem;
  }

  @include desktop {
    font-size: 1.33rem; // 24px
    line-height: 1.96rem; // 35.28px;;
  }
}

p {
  font-family: 'MonotypeXLight';
  font-size: 0.7rem;
  line-height: 1.15rem;

  @include tablet-sm {
    font-size: 0.8rem;
    line-height: 1.15rem;
  }

  @include tablet {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }

  @include desktop {
    font-size: 1rem; // 18px
    line-height: 1.59rem; // 28.62px
  }
}

// Paddings
.section-padding {
  padding: 30px 0;
  padding: 50px 0;

  @include tablet-sm {
    padding: 70px 0;
  }

  @include desktop {
    padding: 100px 0;
  }
}

// Page conatiner & padding
.page-container {
  padding: 0 calc((100% - 1136px) / 2); // 1136 = max width 1440- padding 152 x 2
  width: 100%;
  height: 100%;
}

.page-padding {
  padding: 0 20px;
}

// Section text
.section-text {
  @include flex-col-center;
  margin-bottom: 100px;
  text-align: center;

  @include tablet-sm {
    flex-direction: row;
    align-items: center;
    text-align: start;
  }

  @include desktop {
    margin-bottom: 80px;
  }

  &__left {
    margin-bottom: 40px;

    @include tablet-sm {
      flex: 1;
      margin-bottom: 0;
    }
  }

  &__right {
    @include tablet-sm {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
