@mixin flex-row-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-col-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@mixin flex-col-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

@mixin tablet-sm {
  @media (min-width: 590px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}
