@mixin flex-col-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@mixin tablet-sm {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1500px) {
    @content;
  }
}
