@import './base/mixins';
@import './base/variable';
@import './base/global';
@import './components/header';
@import './components/nav';
@import './components/hero';
@import './components/main';
@import './components/feature';

// body overlay when nav is open
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 150;
  background-color: #fcfcfcde;
  display: none;
}

.nav-open {
  .overlay {
    display: block;
  }
}
