@import './base/mixins';
@import './base/variable';
@import './base/global';
@import './components/header';
@import './components/nav';
@import './components/hero';
@import './components/main';
@import './components/feature';

// body overlay when nav is open
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 150;
  background-color: #fcfcfcde;
  display: none;
}

.nav-open {
  .overlay {
    display: block;
  }
}

// * {
//   //   border: 1px solid black;
// }

// header.header {
// background-color: orange;

//   .header-inner {
//     border: 1px solid black;
//   }
// }

// .hero-section {
//   background-color: powderblue;
// }

// .main-section {
//   background-color: rgb(138, 169, 255);
// }

// .feature-section {
//   background-color: wheat;
// }

// .hero-text {
//   border: 1px solid black;

//   &__left,
//   &__right {
//     border: 1px solid black;
//   }
// }

// .main-text {
//   border: 1px solid black;
//   &__left,
//   &__right {
//     border: 1px solid black;
//   }
// }

// .feature-text {
//   border: 1px solid black;
//   &__left,
//   &__right {
//     border: 1px solid black;
//   }
// }
