* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  min-width: 320px;
}

@font-face {
  font-family: MonotypeBold;
  src: url("../assets/font/Monotype - Helvetica Now Display Bold.otf") format("opentype");
}

@font-face {
  font-family: MonotypeMedium;
  src: url("../assets/font/Monotype - Helvetica Now Display Medium.otf") format("opentype");
}

@font-face {
  font-family: MonotypeXLight;
  src: url("../assets/font/Monotype - Helvetica Now Display XLight.otf") format("opentype");
}

h1,
h2 {
  font-family: 'MonotypeBold';
}

h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
}

@media (min-width: 900px) {
  h1 {
    font-size: 3.4rem;
    line-height: 3rem;
  }
}

@media (min-width: 1500px) {
  h1 {
    font-size: 5rem;
    line-height: 4rem;
  }
}

h2 {
  font-size: 2.5rem;
  line-height: 2.5rem;
}

@media (min-width: 900px) {
  h2 {
    font-size: 3.5rem;
    line-height: 3rem;
  }
}

@media (min-width: 1500px) {
  h2 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

h4 {
  font-family: 'MonotypeMedium';
  font-size: 0.9rem;
  line-height: 1.3rem;
}

@media (min-width: 600px) {
  h4 {
    font-size: 1.3rem;
    line-height: 1.7rem;
  }
}

@media (min-width: 900px) {
  h4 {
    font-size: 1rem;
    line-height: 1.3rem;
  }
}

@media (min-width: 1500px) {
  h4 {
    font-size: 1.33rem;
    line-height: 1.96rem;
  }
}

p {
  font-family: 'MonotypeXLight';
  font-size: 0.7rem;
  line-height: 1.15rem;
}

@media (min-width: 600px) {
  p {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }
}

@media (min-width: 1500px) {
  p {
    font-size: 1rem;
    line-height: 1.59rem;
  }
}

.section-padding {
  padding: 50px 0;
}

@media (min-width: 600px) {
  .section-padding {
    padding: 70px 0;
  }
}

@media (min-width: 1500px) {
  .section-padding {
    padding: 100px 0;
  }
}

.page-container {
  width: 92%;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .page-container {
    width: 89%;
  }
}

@media (min-width: 900px) {
  .page-container {
    width: 87%;
  }
}

@media (min-width: 1500px) {
  .page-container {
    max-width: 1200px;
  }
}

.section-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 100px;
  text-align: center;
  position: relative;
}

@media (min-width: 900px) {
  .section-text {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: start;
  }
}

@media (min-width: 1500px) {
  .section-text {
    margin-bottom: 100px;
  }
}

.section-text h1,
.section-text h4,
.section-text h2 {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
}

.section-text__left {
  margin-bottom: 40px;
}

@media (min-width: 900px) {
  .section-text__left {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-bottom: 0;
  }
}

@media (min-width: 900px) {
  .section-text__right {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header {
  background-color: white;
  height: 64px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 300;
}

@media (min-width: 900px) {
  .header {
    height: 74px;
  }
}

@media (min-width: 1500px) {
  .header {
    height: 84px;
  }
}

.header .header-inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header-inner .hamburger {
  width: 30px;
  height: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 900px) {
  .header .header-inner .hamburger {
    width: 32.5px;
    height: 32.5px;
  }
}

@media (min-width: 1500px) {
  .header .header-inner .hamburger {
    width: 35px;
    height: 35px;
  }
}

.header .header-inner .hamburger:hover {
  cursor: pointer;
}

.header .header-inner .hamburger .bar {
  width: 17px;
  height: 1px;
  background-color: #000000;
}

@media (min-width: 600px) {
  .header .header-inner .hamburger .bar {
    width: 20px;
  }
}

@media (min-width: 900px) {
  .header .header-inner .hamburger .bar {
    width: 26px;
  }
}

@media (min-width: 1500px) {
  .header .header-inner .hamburger .bar {
    width: 29px;
    height: 2px;
  }
}

.header .header-inner .hamburger .bar-bottom {
  margin-top: 5px;
}

.header .header-inner .logo {
  width: 30px;
  height: 30px;
}

@media (min-width: 600px) {
  .header .header-inner .logo {
    width: 37px;
    height: 32px;
  }
}

@media (min-width: 900px) {
  .header .header-inner .logo {
    width: 42px;
    height: 37px;
  }
}

@media (min-width: 1500px) {
  .header .header-inner .logo {
    width: 50.51px;
    height: 35.98px;
  }
}

.header .header-inner .logo:hover {
  cursor: pointer;
}

.header .header-inner .logo a {
  text-decoration: none;
  line-height: 30px;
}

.header .header-inner .logo a svg {
  width: 100%;
  height: 100%;
}

.header .header-inner .join-btn {
  background-color: #000000;
  color: white;
  border: none;
  width: 60px;
  height: 30px;
  padding: 3px;
  border-radius: 20px;
  font-size: 0.6rem;
  -webkit-transition: opacity 0.05s ease-in-out;
  transition: opacity 0.05s ease-in-out;
}

@media (min-width: 600px) {
  .header .header-inner .join-btn {
    width: 85px;
    height: 35px;
    padding: 6.5px;
    font-size: 0.7rem;
  }
}

@media (min-width: 900px) {
  .header .header-inner .join-btn {
    width: 110px;
    height: 40px;
    padding: 7px;
    font-size: 1rem;
  }
}

@media (min-width: 1500px) {
  .header .header-inner .join-btn {
    width: 104px;
    height: 40px;
    padding: 10px;
    font-size: 1rem;
  }
}

.header .header-inner .join-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.nav {
  font-family: 'MonotypeXLight';
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 50vh;
  min-height: 350px;
  z-index: 200;
  background-color: #000000;
  color: white;
}

@media (min-width: 1500px) {
  .nav {
    min-height: 400px;
  }
}

.nav ul {
  list-style-type: none;
  padding-top: 1.3rem;
}

.nav ul li {
  font-size: 1rem;
  line-height: 2.23rem;
}

@media (min-width: 900px) {
  .nav ul li {
    font-size: 1.4rem;
    line-height: 3.2rem;
  }
}

.nav ul a {
  color: white;
  text-decoration: none;
  position: relative;
}

.nav ul a:hover {
  border-bottom: 1px solid white;
}

@media (min-width: 900px) {
  .hero-section .section-text__left {
    -webkit-box-flex: 1.1;
        -ms-flex: 1.1;
            flex: 1.1;
    margin-bottom: 0;
  }
}

.hero-section .hero-img {
  width: 100%;
  position: relative;
}

.hero-section .hero-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero-section .hero-img .hero-screen {
  position: absolute;
  width: auto;
  height: 55%;
  top: 55%;
  left: 49.6%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
}

.main-section {
  padding-top: 150px;
}

.main-section .swiper-container {
  width: 100%;
  height: 100%;
}

.main-section .swiper-container .swiper-button-prev,
.main-section .swiper-container .swiper-button-next {
  width: 1rem;
  height: 1rem;
}

@media (min-width: 900px) {
  .main-section .swiper-container .swiper-button-prev,
  .main-section .swiper-container .swiper-button-next {
    width: initial;
    height: initial;
  }
}

.main-section .swiper-container .swiper-button-prev {
  left: 14%;
}

.main-section .swiper-container .swiper-button-next {
  right: 14%;
}

.main-section .swiper-container .swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0.221);
}

.feature-section .section-text__left {
  margin-bottom: 65px;
}

.feature-section .section-text__left h4 {
  margin-bottom: 8px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

@media (min-width: 600px) {
  .feature-section .section-text__left h4 {
    margin-bottom: 12px;
  }
}

.feature-section .section-text__left p {
  margin-bottom: 32px;
}

.feature-section .section-text__left .feature-wrapper {
  margin-bottom: 10px;
  width: 100%;
  position: relative;
}

@media (min-width: 600px) {
  .feature-section .section-text__left .feature-wrapper {
    width: 400px;
  }
}

@media (min-width: 900px) {
  .feature-section .section-text__left .feature-wrapper {
    padding-right: 40px;
  }
}

@media (min-width: 1500px) {
  .feature-section .section-text__left .feature-wrapper {
    padding-right: 20px;
    width: 415px;
  }
}

.feature-section .section-text__left .feature-wrapper:last-child {
  margin-bottom: 0;
}

.feature-section .section-text__left .feature-wrapper .feature {
  width: 100%;
  border-bottom: 1px solid #000000;
  margin-bottom: 24px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
}

.feature-section .section-text__left .feature-wrapper:before {
  content: '';
  position: absolute;
  top: 0%;
  left: -150%;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: white;
}

@media (min-width: 900px) {
  .feature-section .section-text__left .feature-wrapper:before {
    left: -120%;
  }
}

.feature-section .section-text__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 900px) {
  .feature-section .section-text__right {
    padding-top: 48px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.feature-section .section-text__right h2 {
  margin-bottom: 2rem;
}

.body-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 150;
  background-color: #fcfcfcde;
  display: none;
}
