* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  min-width: 320px;
}

@font-face {
  font-family: MonotypeBold;
  src: url("../assets/font/Monotype - Helvetica Now Display Bold.otf") format("opentype");
}

@font-face {
  font-family: MonotypeMedium;
  src: url("../assets/font/Monotype - Helvetica Now Display Medium.otf") format("opentype");
}

@font-face {
  font-family: MonotypeXLight;
  src: url("../assets/font/Monotype - Helvetica Now Display XLight.otf") format("opentype");
}

h1,
h2 {
  font-family: 'MonotypeBold';
}

h1 {
  font-size: 2rem;
  line-height: 2rem;
}

@media (min-width: 900px) {
  h1 {
    font-size: 3.5rem;
    line-height: 3rem;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 5rem;
    line-height: 4rem;
  }
}

h2 {
  font-size: 2rem;
  line-height: 2rem;
}

@media (min-width: 900px) {
  h2 {
    font-size: 3.5rem;
    line-height: 3rem;
  }
}

@media (min-width: 1200px) {
  h2 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

h4 {
  font-family: 'MonotypeMedium';
  font-size: 0.7rem;
  line-height: 1rem;
}

@media (min-width: 590px) {
  h4 {
    font-size: 0.8rem;
    line-height: 1.15rem;
  }
}

@media (min-width: 900px) {
  h4 {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }
}

@media (min-width: 1200px) {
  h4 {
    font-size: 1.33rem;
    line-height: 1.96rem;
  }
}

p {
  font-family: 'MonotypeXLight';
  font-size: 1rem;
  line-height: 1.59rem;
}

.section-padding {
  padding: 30px 0;
}

@media (min-width: 590px) {
  .section-padding {
    padding: 70px 0;
  }
}

@media (min-width: 1200px) {
  .section-padding {
    padding: 100px 0;
  }
}

.content-margin-bottom-19 {
  margin-bottom: 19px;
}

.page-container {
  padding: 0 calc((100% - 1136px) / 2);
  width: 100%;
  height: 100%;
}

.page-padding {
  padding: 0 20px;
}

.header {
  background-color: white;
  height: 48px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

@media (min-width: 900px) {
  .header {
    height: 76px;
  }
}

@media (min-width: 1200px) {
  .header {
    height: 96px;
  }
}

.header .header-inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header-inner .hamburger {
  width: 30px;
  height: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 900px) {
  .header .header-inner .hamburger {
    width: 32.5px;
    height: 32.5px;
  }
}

@media (min-width: 1200px) {
  .header .header-inner .hamburger {
    width: 35px;
    height: 35px;
  }
}

.header .header-inner .hamburger:hover {
  cursor: pointer;
}

.header .header-inner .hamburger .bar {
  width: 17px;
  height: 1px;
  background-color: #000000;
}

@media (min-width: 900px) {
  .header .header-inner .hamburger .bar {
    width: 23px;
  }
}

@media (min-width: 1200px) {
  .header .header-inner .hamburger .bar {
    width: 29px;
    height: 2px;
  }
}

.header .header-inner .hamburger .bar-bottom {
  margin-top: 5px;
}

.header .header-inner .logo {
  width: 30px;
  height: 30px;
}

@media (min-width: 900px) {
  .header .header-inner .logo {
    width: 37px;
    height: 32px;
  }
}

@media (min-width: 1200px) {
  .header .header-inner .logo {
    width: 50.51px;
    height: 35.98px;
  }
}

.header .header-inner .logo:hover {
  cursor: pointer;
}

.header .header-inner .logo a {
  text-decoration: none;
  line-height: 30px;
}

.header .header-inner .logo a img {
  width: 100%;
  height: 100%;
}

.header .header-inner .join-btn {
  background-color: #000000;
  color: white;
  border: none;
  width: 60px;
  height: 30px;
  padding: 3px;
  border-radius: 20px;
  font-size: 0.5rem;
}

.header .header-inner .join-btn:hover {
  cursor: pointer;
}

@media (min-width: 900px) {
  .header .header-inner .join-btn {
    width: 96px;
    height: 35px;
    padding: 6.5px;
    font-size: 0.75rem;
  }
}

@media (min-width: 1200px) {
  .header .header-inner .join-btn {
    width: 104px;
    height: 40px;
    padding: 10px;
    font-size: 1rem;
  }
}

.hero-section .hero-text {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

@media (min-width: 590px) {
  .hero-section .hero-text {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 50px;
    text-align: start;
  }
}

@media (min-width: 1200px) {
  .hero-section .hero-text {
    margin-bottom: 80px;
  }
}

.hero-section .hero-text__left {
  margin-bottom: 15px;
}

@media (min-width: 590px) {
  .hero-section .hero-text__left {
    -webkit-box-flex: 1.7;
        -ms-flex: 1.7;
            flex: 1.7;
    margin-bottom: 0;
  }
}

@media (min-width: 590px) {
  .hero-section .hero-text__right {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.hero-section .hero-img {
  width: 100%;
  height: clamp(225px, 50vh, 710px);
}

.hero-section .hero-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-section .main-text {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

@media (min-width: 590px) {
  .main-section .main-text {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 50px;
    text-align: start;
  }
}

@media (min-width: 1200px) {
  .main-section .main-text {
    margin-bottom: 161px;
  }
}

.main-section .main-text__left {
  margin-bottom: 15px;
}

@media (min-width: 590px) {
  .main-section .main-text__left {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media (min-width: 590px) {
  .main-section .main-text__right {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.main-section .main-carosoul {
  height: clamp(225px, 43vh, 640px);
  position: relative;
}

.main-section .main-carosoul .arrows {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0 1rem;
}

.main-section .main-carosoul .arrows .arrow {
  height: 30px;
}

@media (min-width: 590px) {
  .main-section .main-carosoul .arrows .arrow {
    height: 40px;
  }
}

@media (min-width: 900px) {
  .main-section .main-carosoul .arrows .arrow {
    height: 50px;
    padding: 0 2rem;
  }
}

@media (min-width: 1200px) {
  .main-section .main-carosoul .arrows .arrow {
    height: 56px;
  }
}

.main-section .main-carosoul .arrows .arrow:hover {
  cursor: pointer;
}

.main-section .main-carosoul .imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
  height: 100%;
}

.main-section .main-carosoul .imgs img {
  -o-object-fit: contain;
     object-fit: contain;
}

.main-section .carosoul-bar {
  width: 90%;
  height: 1px;
  background-color: #7c7c7c;
  opacity: 0.5;
  margin: 0 auto;
  margin-top: 44px;
  position: relative;
}

@media (min-width: 900px) {
  .main-section .carosoul-bar {
    width: 100%;
  }
}

.main-section .carosoul-bar:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 1px;
  background-color: #000000;
}
